#background-image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -10;
}

#content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
}

#content {
  background: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  padding: 100px;
  width: 50%;
}

#header-text {
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
  text-align: center;
}

#divider {
  border: none;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    white,
    rgba(0, 0, 0, 0)
  );
  margin-bottom: 15px;
}

#typewriter {
  color: rgb(65, 170, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-shadow: 0px 0px 10px rgb(65, 170, 255), 0px 0px 5px rgb(65, 170, 255);
  text-align: center;
}
