#navbar {
  justify-content: space-around;
  background: #222;
  bottom: 0;
  border-top: 2px solid rgb(65, 170, 255);
  display: flex;
  position: absolute;
  width: 100%;
}

#navbar .link {
  background: none;
  color: white;
}
