---
import GitHub from "./GitHub.astro";
import LinkedIn from "./LinkedIn.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jordan Schneidler. All rights reserved.
	<div class="social-links">
		<GitHub />
		<LinkedIn />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
</style>
