#navbar {
  justify-content: space-around;
  background: #222;
  bottom: 0;
  border-top: 3px solid rgb(125, 225, 255);
  display: flex;
  position: absolute;
  width: 100%;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
  padding: 10px;
}