#transition-group,
#transition-group > div {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#transition-group > div {
  opacity: 0;
}

.page-transition-appear {
  opacity: 0;
}
.page-transition-appear-done {
  opacity: 1 !important;
  transition: all 0.2s linear;
}

.page-transition-enter {
  transform: translateX(100%);
}
.page-transition-enter-done:not(.page-transition-appear-done) {
  opacity: 1 !important;
  transform: translateX(0%);
  transition: all 0.15s linear;
}

.page-transition-exit {
  transform: translateX(-100%);
  transition: all 0.15s linear;
}
