#backgroundImageOverlay {
  background: rgb(0, 70, 120, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
}

#backgroundImage {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}